---
version: 108
---

@import "variables";
@import "utilities";
@import "landing";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-family: $sans-font-family;
  font-size: $body-font-size;
  color: $body-color;
  overflow-x: hidden;
  >.wrapper {
    min-height: 100vh;
    @media(max-width: $md-width) {
      flex-direction: column-reverse;
      background-color: $white;
    }
    // adds extra padding to the side-nav and main content if a banner is displayed.
    &.show-banner .nav-wrapper,
    &.show-banner .main {
      padding-top: calc(#{$page-header-height} + #{$banner-height});
    }
  }
}

a,
a:visited {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

details {
  summary {
    display: list-item;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  margin: 15px auto;
  word-wrap: break-word;
  clear: both;
  thead {
    background: $thead-background-color;
  }
  tbody {
    border-top: 3px solid $gds-gray-200;
    &:first-child {
      border-top: 0;
    }
    tr>td {
      max-width: 100%;
      min-width: 100px;
    }
    code {
      word-wrap: break-word;
    }
  }

  td,
  th {
    text-align: left;
    vertical-align: top;
    padding: 8px;
    border: 1px solid $table-border-color;
    font-size: 14px;
    .badge-small {
      &:hover::after {
        padding: 5px;
      }
    }
  }
  @media all and (max-width: $sm-width) {
    display: block;
  }
  &.borderless-table {
    border: 0;
    tr,
    td,
    th {
      border: 0;
    }
  }
  &.center {
    td {
      text-align: center;
    }
  }
  &.fixed-table {
    table-layout: fixed; // use this for columns with the same width
    thead th {
      top: $header-height;
      position: sticky;
      background-color: $thead-background-color;
      z-index: 3;
    }
  }
}

blockquote {
  background-color: $blockquote-background-color;
  color: $blockquote-txt-color;
  border: solid 1px $blockquote-border-color;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: $body-font-size;
  .highlight {
    background-color: $white;
  }

  p:first-child {
    margin-top: 1rem;
  }

  // Override bootstrap
  ol:last-child,
  p:last-child,
  ul:last-child {
    margin: inherit;

    li {
      line-height: 1rem;
      padding-top: .5rem;
    }
  }
}

kbd {
  @include code-styles;
}

pre {
  background-color: $pre-background-color;
  position: relative;
  code {
    @include code-styles;
  }
  .clip-btn {
    display: inline-block;
    padding: 10px 10px 10px 13px;
    right: -.25rem;
    top: 0;
    cursor: pointer;
    position: absolute;
    fill: $white;
    background-color: $pre-code-color;
    border: 0;
    outline: 0;
    svg {
      opacity: .5;
      transition: opacity .3s ease-in;
      pointer-events: none;
    }
    @media all and (max-width: $sm-width) {
      display: none;
    }
  }
  &:hover {
    .clip-btn {
      svg {
        opacity: 1;
      }
    }
  }
}

code,
code span {
  font-family: $mono-font-family;
}

p code,
li code,
table code {
  @include code-color;
}

a>code {
  color: $link-code-color;
}

hr {
  border: 0;
  border-top: 1px solid $hr-border-color;
  width: 100%;
}

// Make code in headers match the font size of the given header.
// https://gitlab.com/gitlab-org/gitlab-docs/issues/107#note_36655246
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  padding-bottom: 5px;
  code {
    @include code-color;
  }
  &[id]::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }
  @media all and (min-width: $sm-width) {
    .anchor {
      opacity: 0;
      float: left;
      margin-left: -30px;
      vertical-align: bottom;
      margin-top: 8px;
      height: 22px;
    }
    &:hover .anchor {
      opacity: 1;
    }
  }
}

// base fonts
// p font size = $body-font-size: 15px;
h1 {
  font-size: 34px;
  font-weight: 700;
  border-bottom: solid 2px $h1-border-bottom;
  padding-bottom: 10px;
  margin-top: $h-margin-top;
  margin-bottom: $h-margin-bottom;
  @media (max-width: $sm-width) {
    font-size: 26px;
  }
  code {
    @include code-color;
  }

  .anchor {
    display: none;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: $h2-margin-top;
  margin-bottom: $h-margin-bottom;
  @media (max-width: $sm-width) {
    font-size: 24px;
  }
}

h3 {
  font-size: 23px;
  font-weight: 700;
  margin-top: $h2-margin-top;
  margin-bottom: $h-margin-bottom;
  @media (max-width: $sm-width) {
    font-size: 22px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: $h2-margin-top;
  margin-bottom: $h-margin-bottom;
  @media (max-width: $sm-width) {
    font-size: 20px;
  }
}

h5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: $h2-margin-top;
  margin-bottom: $h-margin-bottom;
  @media (max-width: $sm-width) {
    font-size: 18px;
  }
}

h6 {
  font-size: 15px;
  font-weight: 600;
  margin-top: $h2-margin-top;
  margin-bottom: $h-margin-bottom;
  @media (max-width: $sm-width) {
    font-size: 16px;
  }
}

.main {
  padding: 0 5%;
  background: $main-background-color;
  z-index: 1;
  &:not(.has-toc) {
    >.doc-nav {
      display: none;
    }
  }
  .edit-on {
    text-align: center;
    border-top: 1px solid $hr-border-color;
    padding-top: 20px;
    margin-top: 15px;
    a {
      color: $h1-border-bottom;
      &::before {
        content: "\f126";
        font-family: FontAwesome;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        padding-right: 5px;
        line-height: 10px;
      }
      &:hover {
        color: $color-tanuki-dark;
      }
    }
  }
  // external link and footer social links
  [href^="http://"],
  [href^="https://"] {
    &:not([href*="gitlab.com"]):not(.gitlab-social) {
      &::after {
        content: "\f08e";
        font-family: FontAwesome;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        padding-left: 5px;
        line-height: 10px;
      }
    }
  }
  p {
    margin: 0 0 1em;
  }
  ul {
    margin-top: -8px 0;
    margin-bottom: 0 0;
  }
  ol {
    margin-top: -8px 0;
    margin-bottom: 0 0;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
  li {
    &:not(.gl-breadcrumb-item) {
      line-height: 1.6em;
      padding-bottom: .5rem;
      ul li:first-of-type {
        padding-top: 12px;
      }
      ol li:first-of-type {
        padding-top: 12px;
      }
      >ul,
      >ol {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  main img {
    max-width: calc(100% - 10px);
    max-height: 100vh;
    border: 1px solid $gds-gray-200;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  // Override bootstrap defaults
  .nav-tabs>li>a {
    padding: 10px 15px;
    display: block;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    &.active {
      background-color: $gds-white;
    }
  }
  .nav-link {
    padding: 0;
  }
  code {
    word-break: normal;
    padding: 2px 4px;
    line-height: 22px;
  }
  .input-group-text {
    background-color: transparent;
    display: flex;
  }
  .footer {
    margin-left: -40px;
    margin-right: -40px;
    max-width: unset;
    .row {
      padding-left: 20px;
      padding-right: 40px;
    }
  }
  @media (max-width: $md-width) {
    padding: 0 10px;

    &.active {
      background-color: $bg-overlay-color;
      overflow: hidden;
      position: fixed;
    }
  }
}

// Override Bootstraps default button (for GDS colors)
.btn-default {
  border-color: $gds-gray-300;
  -webkit-appearance: none;
}

.btn-default:hover {
  background-color: $button-default-bg-hover;
}

.btn-primary {
  background-color: $button-primary;
}

.btn-warning {
  background-color: $button-warning;
  color: $gds-white;
}

.btn-close {
  padding: 0 4px;
}

// Override Bootstrap tooltip
.tooltip .tooltip-inner {
  font-size: $tooltip-font-size;
}

.nav-wrapper {
  background-color: $gds-white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50px;
  height: calc(100% - 46px);
  transition: all .3s;
  border-right: 1px solid $gds-gray-200;
  z-index: 2;
  &.active {
    width: $sidebar-width;
    .nav-toggle {
      .arrow {
        left: 19px;
        transform: rotate(0);
        &:nth-child(2) {
          left: 25px;
        }
      }
      .label {
        display: block;
        pointer-events: none;
        font-size: 14px;
        color: $gds-gray-700;
        margin-left: 30px;
        flex-shrink: 0;
      }
    }
    .global-nav {
      visibility: visible;
    }
  }
  .nav-toggle {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0;
    &:hover {
      background-color: $gds-gray-200;
    }
    &:focus {
      box-shadow: none;
    }
    .label {
      display: none;
    }
    .arrow,
    .arrow::before,
    .arrow::after {
      cursor: pointer;
      pointer-events: none;
      border-radius: 1px;
      height: 2px;
      width: 9px;
      background: $gds-gray-700;
      position: absolute;
      display: block;
      content: "";
    }
    .arrow {
      transform: rotate(180deg);
      background-color: transparent;
      &:nth-child(2) {
        left: 19px;
      }
    }
    .arrow::before {
      top: 0;
      transform: rotate(45deg) translateY(4px);
    }
    .arrow::after {
      top: 0;
      bottom: -7px;
      transform: rotate(-45deg) translateY(-4px);
    }
  }
  @media(max-width: $md-width) {
    width: 0;

    .nav-toggle {
      display: none;
    }

    &.active {
      width: $sidebar-mobile-width;

      .nav-toggle {
        display: block;
      }
    }
  }
}

.global-nav {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  visibility: hidden;
  .global-nav-cat.active {
    a {
      color: $gds-indigo-800;
    }
  }
  .global-nav-content {
    margin-top: 85px;
    margin-bottom: 70px;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    &.has-collapse.active {
      box-shadow: 0 0 0 0 inset;
    }
    &.active {
      background-color: $gds-gray-100;
      font-weight: 600;
      box-shadow: -4px 0 0 0 inset;
      color: $gds-indigo-800;
      &:hover {
        color: $gds-indigo-800;
      }
      &.level-1,
      &.level-2,
      &.level-3,
      &.level-4 {
        background-color: $gds-gray-200;
      }
    }
  }
  .collapse-toggle {
    cursor: pointer;
    display: flex;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    &::after {
      content: "";
      border: solid $gds-gray-700;
      border-width: 0 1px 1px 0;
      display: inline-block;
      transform: rotate(45deg);
      width: 7px;
      height: 7px;
    }
    &.collapsed {
      &::after {
        transform: rotate(-50deg);
      }
    }
    &.active {
      background-color: $gds-gray-200;
      box-shadow: -4px 0 0 0 inset;
      color: $gds-indigo-800;
      &.section-title {
        background-color: $gds-gray-100;
      }
    }
  }

  .global-nav-block {
    font-weight: 600;
    padding-left: 10px;
  }

  .global-nav-link,
  .nav-link {
    text-decoration: none;
    &:hover {
      color: $link-color-nav-hover;
    }
  }

  .global-nav-link {
    line-height: 1rem;
    font-size: .875rem;
    width: 100%;
  }

  .nav-link {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .nav-link:hover {
    background-color: $link-color-bg-active;
  }

  .global-nav-block-top {
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 3px;
    a {
      text-decoration: none;
      text-shadow: 3px 3px 5px $link-color-bg-active;
    }
  }

  .level-0 {
    color: $global-nav-link-level0;
    padding-left: 1.2rem;
    &:visited {
      color: $global-nav-link-level0;
    }
  }

  .level-1 {
    color: $global-nav-link-level1;
    padding-left: 2.333rem;
    &:visited {
      color: $global-nav-link-level1;
    }
  }

  .level-2 {
    color: $global-nav-link-level2;
    padding-left: 3.533rem;
    &:visited {
      color: $global-nav-link-level2;
    }
  }

  .level-3 {
    color: $global-nav-link-level3;
    padding-left: 4.733rem;
    &:visited {
      color: $global-nav-link-level3;
    }
  }

  .level-4 {
    color: $global-nav-link-level4;
    padding-left: 5.933rem;
    &:visited {
      color: $global-nav-link-level4;
    }
  }

  .global-nav-badges {
    fill: $gds-gray-700;
  }

  .last-updated {
    color: $color-light-gray;
    font-size: 13px;
    padding-bottom: 10px;
    text-align: right;
  }
}


.btn-tanuki {
  &:hover {
    background-color: $color-btn-tanuki;
  }
}

@media (min-width: $md-width) {
  .mobile-nav-toggle {
    display: none;
  }
}

.gl-breadcrumbs {
  border-width: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media (max-width: $md-width) {
  .gl-breadcrumbs {
    padding-top: 1rem;
  }
}

.gl-breadcrumb-list {
  margin-top: .1rem;
  background-color: transparent;
  padding: 0;
  align-items: center;
  line-height: 1rem;
  margin: 0;
}

@media (max-width: $xs-width) {
  .gl-breadcrumb-list {
    flex-wrap: wrap;
  }
}

.gl-breadcrumb-separator {
  margin-top: -.2rem;
}

.gl-breadcrumb-separator>svg {
  margin: auto .5rem;
  width: .5rem;
  color: $gds-gray-1000;
  fill: currentColor;
}

.gl-breadcrumb-avatar-tile {
  margin-right: .25rem;
  margin-top: .1rem;
  margin-bottom: .2rem;
  border: 1px solid $help-gray-200;
  border-radius: 50%;
}

@media (max-width: $md-width) {
  .gl-breadcrumb-avatar-tile {
    margin-left: 2rem;
  }
}

.gl-breadcrumb-item {
  font-size: .75rem;
  line-height: 1rem;
}

.gl-breadcrumb-item>a {
  color: $gds-gray-1000;
  code {
    @include code-color;
  }
}

@media (max-width:575.98px) {
  .gl-breadcrumb-item>a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    max-width: 8rem;
  }
}

.gl-breadcrumb-item:last-child {
  color: $gds-gray-950;
  font-weight: 600;
}

// Permalinks on header elements.
.anchor {
  display: inline-block;
  width: 1em;
  height: 1em;
  max-height: 25px;
  vertical-align: middle;
  background: url("<%= @items['/assets/images/icon_anchor.svg'].path %>") center center / contain no-repeat;
  &:hover {
    text-decoration: none;
  }
}

// Version history ("Introduced in") notes
.introduced-in {
  font-size: $introduced-in-font-size;
  color: $gds-black;
  .introduced-in-content {
    margin-top: 8px;
    ul {
      margin: 0;
      padding-left: 26px;
    }
  }
  .collapsing {
    transition: none;
  }
}

.text-expander {
  background: url("<%= @items['/assets/images/ellipsis_h.svg'].path %>") center center / 12px no-repeat;
  vertical-align: middle;
  border: 1px solid $introduced-in-border-color;
  border-radius: 4px;
  margin-left: 8px;
  margin-bottom: 2px;
  width: 22px;
  height: 16px;
  &:hover {
    background-color: $text-expander-hover-color;
  }
}

// End of version history ("Introduced in") notes
// Articles layout
.article-metadata {
  color: $article-metadata;
  display: block;
  order: -1;
  font-style: italic;
  margin-bottom: 15px;
}

// Embedded video
.video-container {
  width: 560px;
  height: 315px;
  position: relative;
  padding-top: 0;
  margin: 20px 0;
  box-shadow: 5px 5px 10px $gds-gray-300;
  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Embedded video fallback for GitLab's /help
.video-fallback {
  display: none;
}

// Override bootstrap's alert color
.alert {
  color: inherit;
  border: 0;
  border-radius: 0;
  opacity: .9;
  code {
    background-color: $alert-code-background-color;
    word-break: break-word;
    color: $code-color;
  }
  i {
    padding-right: 10px;
  }
}

// Pajamas alerts
// https://gitlab-org.gitlab.io/gitlab-design/hosted/design-gitlab-specs/alerts-spec-previews/
.alert-info {
  background-color: $alert-info-bg;
  color: $alert-info-txt;
  border: solid 1px $alert-info-border;
  border-radius: 5px;
}

.alert-warning {
  background-color: $alert-warning-bg;
  color: $alert-warning-txt;
  border: solid 1px $alert-warning-border;
  border-radius: 5px;
}

.alert-success {
  background-color: $alert-success-bg;
  color: $alert-success-txt;
  border: solid 1px $alert-success-border;
  border-radius: 5px;
}

.alert-danger {
  background-color: $alert-danger-bg;
  color: $alert-danger-txt;
  border: solid 1px $alert-danger-border;
  border-radius: 5px;
}

.alert-gray {
  background-color: $alert-gray-bg;
  color: $alert-gray-txt;
  border: solid 1px $alert-gray-border;
  border-radius: 5px;
}

// End of Pajamas alerts
// Start of banner alert box
// https://about.gitlab.com/handbook/markdown-guide/#gitlab-webcast-alert-box
.alert-banner {
  background-color: $help-indigo-50;
  border-color: rgba($help-indigo-50, .3);
  margin-top: 20px;
  i {
    margin-left: 10px;
    margin-right: 10px;
  }
}

// Main header CSS
.navbar {
  min-height: $header-height;
  background-color: $header-background-color;

  .navbar-brand {
    font-size: 1.15rem;

    strong {
      line-height: 20px;
      font-size: 1rem;
    }
  }

  .btn {
    line-height: 1rem;
    font-size: .875rem;
  }

  .nav-link {
    color: $gds-indigo-100;
  }

  .form-inline {
    .fa-search {
      z-index: 1;
    }

    .docsearch {
      font-size: 1rem;
      height: 32px;
      min-width: 320px;
      text-indent: 1rem;
      padding: 12px 8px;
    }
  }

  .dropdown-toggle {
    background-color: $help-indigo-500;
  }

  @media all and (max-width: $md-width) {
    .btn {
      width: 100%;
    }
  }
}

//badges
.badges-drop {
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  transition: background-color .5s ease-in-out;

  .badge-tier,
  .badge-self-managed,
  .badge-saas {
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      transition: width .3s;
      opacity: .5;
    }
  }

  .badge-tier {
    &::after {
      background: $badge-tier;
    }
  }

  .badge-self-managed {
    &::after {
      background: $badge-self-managed;
    }
  }

  .badge-saas {
    &::after {
      background: $badge-saas;
    }
  }
  &:hover {
    .badge-tier,
    .badge-self-managed,
    .badge-saas {
      &::after {
        width: 100%;
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  .badge-display {
    font-size: 11px;
  }
}

h5,
h6 {
  .badge-display {
    font-size: 10px;
    padding: 2px 4px;
  }
}

p,
li {
  .badge-display {
    font-size: 9px;
    padding: 1px;
  }
}

p {
  .badges-drop {
    margin-left: 3px;
    margin-right: 0;
  }
}

// scss-lint:disable MergeableSelector
// skipping scss-lint rule: keeping all the badges styles together
h1,
h2,
h3,
h4,
h5,
h6 {
  .badges-drop {
    float: none;
  }
}

h1 {
  @media all and (max-width: $sm-width) {
    .badges-drop {
      padding-top: 5px;
    }
  }
}

li {
  .badges-drop {
    margin-left: 0;
    margin-right: 3px;
  }
}

// scss-lint:enable MergeableSelector
.badge-display {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  color: $white;
  margin-left: 2px;
  border-radius: 2px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .02em;
  line-height: 1.4;
}

.badge-tier {
  color: $badge-tier;
}

.badge-self-managed {
  color: $badge-self-managed;
  padding-left: 5px;
}

.badge-saas {
  color: $badge-saas;
  padding-left: 5px;
}

.badge-small {
  color: $badge-self-managed;
  opacity: .6;
  transition: opacity .3s;
  &:hover {
    opacity: 1;
    &::after {
      content: attr(data-title);
      text-transform: uppercase;
      font-weight: 700;
      font-size: .7em;
      display: inline;
      position: absolute;
      padding: 1px 5px;
      opacity: 1;
      background-color: $white;
      white-space: nowrap;
      border-radius: 2px;
      max-width: 150px;
    }
  }
}

// scss-lint:disable ImportantRule
.dotcom-false {
  .badge-saas {
    display: none;
  }
}
// scss-lint:enable ImportantRule

//
// Algolia search override
// https://community.algolia.com/docsearch/styling.html
//
.algolia-autocomplete {
  // Scrollable search results box
  // https://gitlab.com/gitlab-org/gitlab-docs/issues/362
  .ds-dropdown-menu [class^=ds-dataset-] {
    max-height: 85vh;
    overflow-x: hidden;
  }
}

// Algolia search override end
//in-page styles
.youtube {
  color: $youtube;
}

.mermaid {
  overflow: auto;
}

.banner {
  z-index: 5;
  line-height: 2;
  top: $page-header-height;
  height: $banner-height;
  background: $gds-gray-50;
  border-bottom: 1px solid $gds-gray-200;
}

.gl-icon {
  @each $size in $gl-icon-sizes {
    &.s#{$size} {
      width: #{$size}px;
      height: #{$size}px;
      vertical-align: text-bottom;
    }
  }
}

.btn-cta {
  background-color: $header-free-trial-button-color;
}
